.to-visit {
    padding: 20px 140px;
}

.places {
    margin-top: 10px;
}

.places-list {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.places-list li {
    list-style: none;
    margin-right: 50px;
}


.location {
    background-color: white;
    border: 1px solid rgb(199, 194, 194);
    padding: 10px;
    border-radius: 10px;
    width: 120px;
    font-family: "Red Rose", cursive;
    text-align: left;
}

.location-logo {
    width: 15px;
    float: right;
}
